In [ ]:
Pandas:
    
    datatypes:
        
        series ------>completed
        DataFrames

In [3]:
import numpy as np
import pandas as pd

In [ ]:
pandas will built on top of numpy

In [ ]:
#Getting started with the Dataframes:

Definition: A Data frame is a two dimensional data structure, data is aligned in a tabular fashion in rows and columns.

In [ ]:
#General syntax of defining the Data Frame:

In [ ]:
pandas.DataFrame(data,index,columns,dtype)

In [ ]:
creating an empty DataFrame: 
    
Python is case sensitive(small case and upper case matters)

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
creating a dataframe from a list

In [5]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
data = [['venkat',10],['Faiyaz',20],['sam',56]]

In [9]:
df = pd.DataFrame(data,columns=['Name','marks'])

print(df)

     Name  marks
0  venkat     10
1  Faiyaz     20
2     sam     56

In [10]:
df = pd.DataFrame(data) #with no column names 

print(df)

        0   1
0  venkat  10
1  Faiyaz  20
2     sam  56

In [12]:
df = pd.DataFrame(data,columns=['Name','marks'],index = ['rank1','rank2','rank3'])

print(df)

         Name  marks
rank1  venkat     10
rank2  Faiyaz     20
rank3     sam     56

In [ ]:
#Creating a dataframe by using a dict of ndarrays:

In [13]:
data = {'Name':['jayashree','haripriya','Faiyaz','raj'],'points':[100,95,90,86]}

In [14]:
df = pd.DataFrame(data)

print(df)

        Name  points
0  jayashree     100
1  haripriya      95
2     Faiyaz      90
3        raj      86

In [ ]:
Note: In a dict, the key will be considered as the column names by default we dont have to provide.

In [ ]:
nana ======> not a number.

In [17]:
#Scenario:
    
data = [{'a':1,'b':2},{'a':5,'b':3,'c':10}]

In [19]:
df = pd.DataFrame(data,index = ['first','second'])

print(df)

        a  b     c
first   1  2   NaN
second  5  3  10.0

In [ ]:
Nan is treated as a float datatype, hence the decimal is being applied....!