In [ ]:
Introduction to iteration in numpy:

In [2]:
import numpy as np

In [ ]:
1D(One Dimensional) array implementation:

In [3]:
a = np.arange(11)**2 # we will get the square till 10,as last value is always exclusive

a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [5]:
for i in a:
    print(i**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [ ]:
multi dimensional arrays:
    
Iterating over multidimensional arrays is done with respect to the first axis:

In [21]:
students = np.array([['Alice','Beth','Cathy','Dorothy'],['65','75','80','85'],['85','80','86','90']])

In [ ]:
generic implementation:

In [ ]:
Note: Each iteration will be over the rows of the array

In [22]:
for i in students:
    print('i=',i)

i= ['Alice' 'Beth' 'Cathy' 'Dorothy']
i= ['65' '75' '80' '85']
i= ['85' '80' '86' '90']

In [ ]:
Iteration over the each and every element

In [ ]:
# Flatten a multi-dimensional array:
    
If one wants to perform an operation on each element in the array, one can use the flattern function by default, 
the flattening will occur row-wise(also known as C order)

In [ ]:
flatten -- method by using which we can able to iterate

In [23]:
for element in students.flatten():
    print(element)

Alice
Beth
Cathy
Dorothy
65
75
80
85
85
80
86
90

In [ ]:
Req: I want to have an column based spiliting ----> column based splitting

In [ ]:
Fortran order flattening:
    
To flatten a 2D array column-wise,use the Fortran order

In [27]:
for element in students.flatten(order='F'):  # column based iteration....!
    print(element)

Alice
65
85
Beth
75
80
Cathy
80
86
Dorothy
85
90

In [ ]:
Implementation of nditer:

nditer: Efficient multi dimension iterator object to iterate over the arrays

In [10]:
x = np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
Default Iteration behaviour is C order

This is row-wise iteration,similar to iterating over a C-order flattned array

In [25]:
for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
dtype = np.int16, dtype = np.int32------->typecasting

In [ ]:
Fortran Order:
    
This is like iterating over an array which has been flattened column-wise

In [28]:
for i in np.nditer(x,order = 'F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11